body {
    display: block;
    font-family: "Helvetica Neue",Arial, Helvetica, sans-serif;
}

h1 {
    display: block;
    margin-left: 40px;
}

#root {
    display: block;
    margin: 120px auto;
    width: 476px;
}

#series,#round{
    color: #000;
    text-align: center;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 16px;
    font-size: 21px;
    width: 378.5px;
    margin-bottom: 16px;
}

#you {
    float: left;
    margin-right: 8px;
}

.parent:after{
    clear: both;
    content: "";
    display: table;
}

#you,#bot{
    float: left;
    color: #000000;
    text-align: center;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 16px;
    font-size: 21px;
    width: 165.75px;
    margin-bottom: 16px;
}

#rock,#paper{
    margin-right: 8px;
}

button{
    border: 2px solid black;
    background-color: #fff;
    font-size: 21px;
    color: black;
    cursor: pointer;
    width: 128px;
    border-radius: 10px;
    padding: 18px 0;
    transition: all 0.2s ease;
    outline: 0;
}

button:hover{
    background-color: #313131f2;
    color: #fff;
    transform: scale(1.1);
}
